* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

i,
svg {
    pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: rgb(255, 213, 213);
}

.snare-pad {
    background: rgb(216, 255, 239);
}

.hihat-pad {
    background: rgb(218, 255, 186);
}

.kick-pad.active {
    background: rgb(246, 148, 217);
}

.snare-pad.active {
    background: rgb(110, 255, 219);
}

.hihat-pad.active {
    background: rgb(153, 204, 109);
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kick-track,
.snare-track,
.hihat-track {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-top: 2rem;
}

.kick,
.snare,
.hihat {
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(151, 151, 151);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad {
    transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(243, 239, 239);
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}

select {
    padding: 1rem;
    font-size: 1rem;
}
